@import '../../utils/utils';

.contents-container {
    .snack {
        position: absolute;
        // left: 50%;
        // top: 50%;
        //transform: translate(-50%, -50%);
        cursor: pointer;
        // transition: 0.5s;
        z-index: 10;
    }

    .snackbar {
        position: absolute;
        left: 50%;
        top: 110%;
        transform: translate(-50%, 0%);
        z-index: 10;
        transition: all 500ms cubic-bezier(.47, 1.64, .41, .8);
    }

}