@import "../../utils/utils";

.eyeballs-animation {
  &.right {
    position: absolute;
    bottom: 0;
    width: 32vw;
    height: 32vw;
    right: 0;
    transform: translate(11%, 11%) scaleX(-1);
    z-index: 5;
  }
  path {
    stroke-width: 0.5;
  }
}
