@import "../../utils/utils";

.topdeco-animation {
  &.right {
    position: absolute;
    top: 0px;
    width: 30vw;
    height: 30vw;
    right: 0;
    transform: translate(30%, -70%);
    z-index: 3;
  }
}
