@import "../utils/utils";

.main-container {
  position: relative;
  height: calc(100vh - 51px);
  overflow: hidden;

  @include mobile {
    position: absolute;
    top: 51px;
    background-color: red;
    width: 100vw;
  }
}

.building-container {
  position: absolute;
  left: 50%;
  width: 1200px;
  transform: translate(-50%, 0);
  height: 92vh;
  bottom: 0;
  &.one {
    z-index: 2;
  }
  &.two {
    z-index: 4;
  }
}

.street-elem1 {
  position: absolute;
  bottom: 0;
  left: 100px;
  transform: translate(-50%, 0%);
  height: 92vh;
  z-index: 2;
  path {
    stroke-width: 0.5;
  }
}

.street-elem2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-30%, 0%);
  height: 45vh;
  width: auto;
  z-index: 4;
  path {
    stroke-width: 0.5;
  }
}

.cloud {
  position: absolute;
  height: 11vh;
  width: auto;
  &.one {
    z-index: 3;
  }
  &.two {
    z-index: 1;
  }

  path {
    stroke-width: 0.35;
  }
}

.ui-elem {
  position: absolute;
  z-index: 4;
  path {
    stroke-width: 0.35;
  }
}

.star {
  position: absolute;
  height: 7vh;
  width: auto;
  z-index: 0;
  path {
    stroke-width: 0.5;
  }
}

.deco-img-left {
  position: absolute;
  left: 0;
  z-index: 3;

  @include mobile {
    background-color: red;
    width: 50vw;
  }
}

.deco-img-right {
  position: absolute;
  right: 0;
  z-index: 3;

  @include mobile {
    background-color: red;
    width: 50vw;
  }
}

//반응형 테스트
@media (max-width: 550px) {
  .deco-img-left,
  .deco-img-right {
    width: 50vw;
  }
}
