@import "../utils/utils";

.main-container {
  position: relative;
  height: calc(100vh - 51px);
  overflow: hidden;

  @include mobile {
    position: absolute;
    top: 51px;
    background-color: red;
    width: 100vw;
  }
}

.building-container {
  position: absolute;
  left: 50%;
  width: 950px;
  transform: translate(-50%, 0);
  height: 92vh;
  bottom: 0;
  z-index: 1;
}

.street-elem1 {
  position: absolute;
  bottom: 0;
  left: 100px;
  transform: translate(-50%, 0%);
  height: 92vh;
}

.street-elem2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, 0%);
  height: 45vh;
}

.cloud {
  position: absolute;
  width: 50vw;
}

.star {
  position: absolute;
}

.deco-img-left {
  position: absolute;
  left: 0;
  z-index: 3;

  @include mobile {
    background-color: red;
    width: 50vw;
  }
}

.deco-img-right {
  position: absolute;
  right: 0;
  z-index: 3;

  @include mobile {
    background-color: red;
    width: 50vw;
  }
}

//반응형 테스트
@media (max-width: 550px) {
  .deco-img-left,
  .deco-img-right {
    width: 50vw;
  }
}
