@import '../../utils/utils';

.breadcrumb-container {
    background-color: $yellow;
    border: $border;
    display: flex;
    gap: 12px;
    padding: 8px 18px;
    font-size: $ui-font;

    .breadcrumb-link {
        position: relative;
        color: $black;
    }

    .breadcrumb-deco {
        color: $black;
    }
}