@import '../../utils/utils';

.input-container {
    background-color: $yellow;
    font-size: $ui-font;
    color: $black;
    padding: 10px 15px;
    border-radius: 100px;
    border: $border;

    &::placeholder {
        color: $black;
    }

    &:focus {
        outline: none;
    }
}