@import '../../utils/utils';

.navigation {
    border: $border;
    border-radius: 100px;
    background-color: $orange;

    .navigation-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        padding: 20px;

        .navigation-btn {
            max-width: 58px;
            display: flex;
            border-radius: 100px;
            border: $border;
            transition: $bounce;
            transition-property: max-width;
            overflow: hidden;
            cursor: pointer;

            &.one {
                &:hover {
                    background-color: $pink;
                }
            }

            &.two {
                &:hover {
                    background-color: $red;
                }
            }

            &.three {
                &:hover {
                    background-color: $blue;
                }
            }

            &.four {
                &:hover {
                    background-color: $yellow;
                }
            }

            &.five {
                &:hover {
                    background-color: $green;
                }
            }


            .icon {
                flex-shrink: 0;
            }

            .nav-text {
                text-align: center;
                width: 89px;
                font-size: $ui-font;
                padding: 9.25px 14px 9.25px 5px;
                //overflow: hidden;
            }
        }
    }
}