@import '../../utils/utils';

.snackbar {
    width: 516px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px;
    background-color: $orange;
    border: $border;
    border-radius: 5px;

    .snackbar-title {
        font-style: italic;
        font-size: 32px;
    }

    .snackbar-btn {
        cursor: pointer;
        font-weight: 700;
        font-size: 32px;
    }
}