@import "../utils/utils";

.nav-container {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 16px $desktop-padding;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  background-color: black;
  transition: 1s;

  @include mobile {
    top: 0;
    bottom: auto;
    padding: 16px $mobile-padding;
  }
}

.text {
  color: white;
  font-style: italic;
  font-size: 16px;
}

.links {
  display: flex;
  gap: 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;

  .link-button {
    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  cursor: pointer;
}
