html {
  height: 100vh;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "SF Pro";
  height: 100vh;
}

.stop-dragging {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.page-container {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 51px);
  z-index: 10;
}
